.card {
  padding: 2px;
  background-color: white;
  margin: 15px;
  border: 1px solid gray;
  max-width: 250px;
}

.card:hover {
  border: 1px solid black;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.45)
}

.rating p {
  margin: 0px;
}
