* {
  font-family: 'Varela Round', sans-serif;
}

.main-container {
  padding: 0;
  margin: 0;
  background-image: url("../../beach-wallpaper.jpg");
  width: 100vw;
  height: 100vh;
}

.main-title {
  padding: 0;
  margin: auto;
}

.content-div {
  display: flex;
  flex-direction: column;
}

.beach-list {
  /* padding-top: 300px; */
  display: flex;
  flex-direction: row;
  margin: auto;
  max-width: 90%;
  overflow-x: auto;
  border: 1px black solid;
}

.login-form {
  display: flex;
  width: 400px;
  flex-direction: column;
  margin: auto;
}